@model BitakShop.Web.ViewModels.CheckoutForm
@{
    ViewBag.Title = "ثبت آدرس";
}


<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>بررسی نهایی و پرداخت</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="/">خانه</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="/Shop/Checkout/?invoiceNumber=@ViewBag.InvoiceNumber">سبد خرید</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>بررسی و پرداخت</li>
            </ul>
        </div>
    </div>
</div>


<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <!-- Checkout Adress-->
        <div class="col-xl-9 col-lg-8 bg-white pt-3 pb-3 soft-shadow text-right">
            <div class="checkout-steps">
                <a class="active">1. آدرس مشتری</a>
                <a><span class="angle"></span>2. نحوه پرداخت</a>
                <a><span class="angle"></span>3. بازبینی</a>
            </div>
            <h5 class="text-right mb-4">آدرس خود را اضافه کنید</h5>
            <hr class="padding-bottom-2x">
            <form method="post" id="form">

                @if(!string.IsNullOrEmpty(Request.QueryString["error"]))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-warning form-group">
                                لطفا فیلدهای الزامی را کامل نمایید
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { })*
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Email">آدرس ایمیل (اختیاری)</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { })*
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PostalCode, new { })*
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.GeoDivisionId, "استان", new { })
                            @*@Html.DropDownList("GeoDivisionId", null, htmlAttributes: new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.GeoDivisionId, (IEnumerable<SelectListItem>)ViewBag.GeoDivisionIds, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GeoDivisionId, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, new { })*
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                </div>


                <div class="checkout-footer">
                    <div class="column text-right"><a class="btn btn-outline-secondary" href="/Shop/Checkout/?invoiceNumber=@ViewBag.InvoiceNumber"><i class="icon-arrow-right"></i><span class="hidden-xs-down">&nbsp;برگشت به سبد خرید</span></a></div>
                    <div class="column text-left"><button class="btn btn-primary"><span class="hidden-xs-down">ادامه &nbsp;</span><i class="icon-arrow-left"></i></button></div>
                </div>
            </form>
        </div>
        <!-- Sidebar          -->
        <aside class="col-md-3 col-sm-4 order-lg-1" style="padding-left:7px">
            @if (ViewBag.SidebarImages != null)
            {
                if (!string.IsNullOrEmpty(ViewBag.SidebarImages[1].Image))
                {
                    <section class="alert alert-no-padding alert-image-bg alert-dismissible fade show text-center mb-2 soft-shadow" data-dismiss="alert">
                        <span></span>
                        <img src="~/Files/StaticContentImages/Image/@ViewBag.SidebarImages[1].Image" />
                    </section>
                }

            }
            <!-- Product Widgets-->
            <!-- Latest Product Section Start -->
            @Html.Action("LatestProductsSection", "Home", new { take = 8 })
            <!-- Latest Product Section End -->

        </aside>
    </div>
</div>


<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script>
    $.validator.unobtrusive.parse("#form");
</script>


